<!DOCTYPE html>
<html lang="zh">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Stock Daily</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/element-plus/dist/index.css">
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.global.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/element-plus"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/echarts-gl/dist/echarts-gl.min.js"></script>
  <style>
    body {
      background-color: #f5f5f5;
      color: #000;
      font-family: Arial, sans-serif;
    }

    #app {
      width: 100%;
      height: 100vh;
    }

    #chart {
      flex: 1;
      width: 100%;
      height: 100vh;
    }
  </style>
</head>

<body>
  <div id="app">
    <el-row>
      <el-col :span="8">
        <el-form-item label="X 轴" style="width: 80%;">
          <el-select v-model="config.xAxis3D" @change="updateChart">
            <el-option v-for="field in fieldNames" :key="field" :label="field" :value="field"></el-option>
          </el-select>
          <el-slider v-model="x_range" range :step="Math.round((rawminMax.x.max - rawminMax.x.min)/20)" show-stops :min="rawminMax.x.min" :max="rawminMax.x.max" @change="sliderChange('xAxis3D')" />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Y 轴" style="width: 80%;">
          <el-select v-model="config.yAxis3D" @change="updateChart">
            <el-option v-for="field in fieldNames" :key="field" :label="field" :value="field"></el-option>
          </el-select>
          <el-slider v-model="y_range" range :step="Math.round((rawminMax.y.max - rawminMax.y.min)/20)" show-stops :min="rawminMax.y.min" :max="rawminMax.y.max" @change="sliderChange('yAxis3D')" />
        </el-form-item>
      </el-col>
      <el-col :span="8">
        <el-form-item label="Z 轴" style="width: 80%;">
          <el-select v-model="config.zAxis3D" @change="updateChart">
            <el-option v-for="field in fieldNames" :key="field" :label="field" :value="field"></el-option>
          </el-select>
          <el-slider v-model="z_range" range :step="Math.round((rawminMax.z.max - rawminMax.z.min)/20)" show-stops :min="rawminMax.z.min" :max="rawminMax.z.max" @change="sliderChange('zAxis3D')" />
        </el-form-item>
      </el-col>
    </el-row>
      <el-row>
        <el-col :span="8">
          <el-form-item label="大小" style="width: 80%;">
            <el-select v-model="config.symbolSize" @change="updateChart">
              <el-option v-for="field in fieldNames" :key="field" :label="field" :value="field"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
        <el-col :span="12">
          <el-form-item label="交易所" style="width: 80%;">
            <el-select 
              v-model="config.exchange_select"  
              multiple 
              collapse-tags
              :max-collapse-tags="3"
              @change="updateChart">
              <el-option v-for="prefix in config.exchange" :key="prefix" :label="prefix" :value="prefix"></el-option>
            </el-select>
          </el-form-item>
        </el-col>
      </el-row>
      <el-row>
        <el-form-item label="行业" style="width: 90%;">
          <el-select
            v-model="selectedIndustries"
            multiple
            collapse-tags
            :max-collapse-tags="20"
            placeholder="请选择"
          >
            <template #header>
              <el-checkbox
                v-model="isAllSelected"
                @change="toggleAllIndustries"
              >
                All
              </el-checkbox>
            </template>
            <el-option
              v-for="item in uniqueIndustries"
              :key="item"
              :label="item"
              :value="item"
            />
          </el-select>
        </el-form-item>
      </el-row>
    <div id="chart"></div>
  </div>
</body>

<script>
  const { createApp, onMounted, ref, reactive, computed, watch} = Vue;

  createApp({
    setup() {
      const chart = ref(null);
      const stockData = ref([]);
      const fieldNames = ref([]);
      const isAllSelected = ref(true);
      const x_range = ref([0,0]);
      const y_range = ref([0,0]);
      const z_range = ref([0,0]);

      const config = ref({
        name : '名称',
        xAxis3D: '量比',
        yAxis3D: '换手率',
        zAxis3D: '涨跌幅',
        color: '行业',
        price : '最新价',
        symbolSize: '流通市值',
        exchange_select : ['上海证券交易所主板','深圳证券交易所主板'],
        exchange : ['上海证券交易所科创板','北京证券交易所','上海证券交易所科创板（CDR公司）','上海证券交易所主板','深圳证券交易所主板','深圳证券交易所中小板','深圳证券交易所创业板','新三板','无法识别的股票代码']
      });

      // 行业筛选相关
      const uniqueIndustries = ref([]);
      const selectedIndustries = ref([]);
      let color_gen = {};

      // 数据归一化处理函数
      const normalize = (value, min, max) => {
        return (value - min) / (max - min);
      };

      // 获取数组的最大最小值
      const getMinMax = (arr) => {
        return {
          min: Math.min(...arr),
          max: Math.max(...arr)
        };
      };

      const rawminMax =  computed(() => {
        if (stockData.value.length == 0) {
          return {
              x : {min : 0, max : 10},
              y : {min : 0, max : 10},
              z : {min : 0, max : 10}
            }
        } else {
          let x = getMinMax(stockData.value.map(item => item[config.value.xAxis3D]))
          let y = getMinMax(stockData.value.map(item => item[config.value.yAxis3D]))
          let z = getMinMax(stockData.value.map(item => item[config.value.zAxis3D]))
          x_range.value = [x.min, x.max]
          y_range.value = [y.min, y.max]
          z_range.value = [z.min, z.max]
          return {x,y,z}
        }
      })
      // 筛选行业
      const isAllIndustriesSelected = computed(() =>
        selectedIndustries.value.length === uniqueIndustries.value.length
      );

      const toggleAllIndustries = () => {
        if (!isAllSelected.value) {
          selectedIndustries.value = [];
        } else {
          selectedIndustries.value = [...uniqueIndustries.value];
        }
      };

      // 筛选x,y,z轴
      const sliderChange = (dim) => {
        updateChart();
      }

      // 监听selectedOptions的变化，更新isAllSelected的值
      watch(selectedIndustries, () => {
        updateChart();
      });
      
      // 计算交易所
      function getExchange(code) {
          if (code.startsWith('688')) {
              return '上海证券交易所科创板';
          } else if (code.startsWith('920')) {
              return '北京证券交易所';
          } else if (code.startsWith('689')) {
              return '上海证券交易所科创板（CDR公司）';
          } else if (code.startsWith('600') || code.startsWith('601') || code.startsWith('603') || code.startsWith('605')) {
              return '上海证券交易所主板';
          } else if (code.startsWith('000')) {
              return '深圳证券交易所主板';
          } else if (code.startsWith('001') || code.startsWith('002')) {
              return '深圳证券交易所中小板';
          } else if (code.startsWith('003')) {
              return '深圳证券交易所创业板';
          } else if (code.startsWith('300') || code.startsWith('301')) {
              return '深圳证券交易所创业板';
          } else if (code.startsWith('8')) {
              return '北京证券交易所';
          } else if (code.startsWith('430')) {
              return '新三板';
          } else {
              return '无法识别的股票代码';
          }
      }

      // 映射彩虹色
      const generateRandomColor = () => {
        const r = Math.floor(Math.random() * 256); // 0到255的随机整数
        const g = Math.floor(Math.random() * 256);
        const b = Math.floor(Math.random() * 256);
        return `rgba(${r},${g},${b},0.6)`;
      };

      function generateColorDict(categories) {
        const colorDict = {};
        const usedColors = [];

        const isColorRepeated = (newColor, usedColors) => {
          for (const usedColor of usedColors) {
            if (newColor === usedColor) {
              return true;
            }
          }
          return false;
        };

        for (let i = 0; i < categories.length; i++) {
          let color;
          do {
            color = generateRandomColor();
          } while (isColorRepeated(color, usedColors));

          usedColors.push(color);
          colorDict[categories[i]] = color;
        }

        return colorDict;
      }


      // 初始化图表
      const initChart = () => {
        const chartDom = document.getElementById('chart');
        chart.value = echarts.init(chartDom);
        chart.value.on('click', function (params) {
          console.log('点击事件被触发，参数为：', params.data.originalValues.name)
          window.open(`https://www.baidu.com/s?wd=${params.data.originalValues.name}股票`, '_blank')
        })
      };

      // 更新图表
      const updateChart = () => {
        const maxValues = { 
          symbolSize: -Infinity 
        };
        // 根据选中的交易所过滤行业
        const filteredData_exchange = config.value.exchange_select.length > 0
          ? stockData.value.filter(item =>
            config.value.exchange_select.includes(getExchange(item['代码']))
          )
          : stockData.value; 
        // 根据选中的行业过滤数据
        const filteredData_industry = selectedIndustries.value.length > 0
          ? filteredData_exchange.filter(item =>
            selectedIndustries.value.includes(item['行业'])
          )
          : filteredData_exchange.value;

        const  filteredData = filteredData_industry.filter(item => {
            let x = item[config.value.xAxis3D];
            let y = item[config.value.yAxis3D];
            let z = item[config.value.zAxis3D];
            return   x >= x_range.value[0] 
                  && x <= x_range.value[1] 
                  && y >= y_range.value[0] 
                  && y <= y_range.value[1]
                  && z >= z_range.value[0] 
                  && z <= z_range.value[1]
        })

        // 获取 x, y, z 轴的原始数据
        const axisData = {
          x: filteredData.map(item => item[config.value.xAxis3D]),
          y: filteredData.map(item => item[config.value.yAxis3D]),
          z: filteredData.map(item => item[config.value.zAxis3D])
        };

        // 计算最大最小值
        const minMax = {
          x: getMinMax(axisData.x),
          y: getMinMax(axisData.y),
          z: getMinMax(axisData.z)
        };


        const chartData = filteredData.map(item => {
          let x = item[config.value.xAxis3D];
          let y = item[config.value.yAxis3D];
          let z = item[config.value.zAxis3D];
          const industry = item[config.value.color];
          const color = color_gen[industry];
          const symbolSize = item[config.value.symbolSize];
          
          // 归一化处理
          if (Math.abs(minMax.x.max - minMax.x.min) > 100) {
            x = normalize(x, minMax.x.min, minMax.x.max);
          }
          if (Math.abs(minMax.y.max - minMax.y.min) > 100) {
            y = normalize(y, minMax.y.min, minMax.y.max);
          }
          if (Math.abs(minMax.z.max - minMax.z.min) > 100) {
            z = normalize(z, minMax.z.min, minMax.z.max);
          }

          maxValues.symbolSize = Math.max(maxValues.symbolSize, symbolSize);
          
          return {
            value: [x, y, z, industry, color, symbolSize],
            originalValues: {
              x: item[config.value.xAxis3D],
              y: item[config.value.yAxis3D],
              z: item[config.value.zAxis3D],
              name : item[config.value.name],
              price : item[config.value.price],
            }
          };
        });

        chart.value.setOption({
          tooltip: {
            formatter: (params) => {
              const originalValues = params.data.originalValues;
              const [, , , industry, color, symbolSize] = params.data.value;
              return `
                ${config.value.name}: ${originalValues.name}<br/>
                ${config.value.color}: ${industry}<br/>
                ${config.value.symbolSize}: ${ config.value.symbolSize.includes('市值') ? (symbolSize/100000000).toFixed(3) + '亿' : symbolSize}<br/>
                ${config.value.price}: ${originalValues.price}<br/>
                ${config.value.xAxis3D}: ${originalValues.x}<br/>
                ${config.value.yAxis3D}: ${originalValues.y}<br/>
                ${config.value.zAxis3D}: ${originalValues.z}<br/>
              `;
            }
          },

          xAxis3D: {
            name: config.value.xAxis3D,
            type: 'value',
            scale: true
          },
          yAxis3D: {
            name: config.value.yAxis3D,
            type: 'value',
            scale: true
          },
          zAxis3D: {
            name: config.value.zAxis3D,
            type: 'value',
            scale: true
          },
          grid3D: {
            viewControl: {
              rotateSensitivity: 1,
              zoomSensitivity: 1,
              panSensitivity: 1,
              autoRotate: false,
              damping: 0.8,
              distance: 200
            },
            axisLine: { lineStyle: { color: '#000' } },
            axisPointer: { lineStyle: { color: 'rgba(144,55,238,0.8)' } }
          },
          series: [
            {
              type: 'scatter3D',
              dimensions: [
                config.value.xAxis3D,
                config.value.yAxis3D,
                config.value.zAxis3D,
                config.value.color,
                config.value.symbolSize
              ],
              data: chartData,
              symbolSize: function (params) {
                return Math.max(10,(params[5]/maxValues.symbolSize)*50)
              },
              itemStyle: {
                borderWidth: 0,
                borderColor: function (params) {
                  return params.data.value[4]
                },
                color: function (params) {
                  return params.data.value[4]
                } 
              },
              emphasis: {
                itemStyle: { 
                  color: '#000'
              }
              }
            }
          ]
        })
      }

        // 加载数据
        onMounted(async () => {
          const url = window.location.href;
          const searchParams = new URLSearchParams(url.split('?')[1]);
          const date = searchParams.get('date'); 
          const res = await fetch(`stock_daily_${date}.json`);
          stockData.value = await res.json();
          fieldNames.value = Object.keys(stockData.value[0]);

          let x = getMinMax(stockData.value.map(item => item[config.value.xAxis3D]))
          let y = getMinMax(stockData.value.map(item => item[config.value.yAxis3D]))
          let z = getMinMax(stockData.value.map(item => item[config.value.zAxis3D]))
          x_range.value = [x.min, x.max]
          y_range.value = [y.min, y.max]
          z_range.value = [z.min, z.max]

          // 获取唯一行业列表
          uniqueIndustries.value = [...new Set(
            stockData.value.map(item => item['行业'])
          )];
          color_gen = generateColorDict(uniqueIndustries.value);

          // 初始全选行业
          selectedIndustries.value = [...uniqueIndustries.value];
          
          initChart();
          updateChart();

        });
        
        return {
          config,
          x_range,
          y_range,
          z_range,
          rawminMax,
          fieldNames,
          isAllSelected,
          updateChart,
          uniqueIndustries,
          selectedIndustries,
          toggleAllIndustries,
          isAllIndustriesSelected,
          sliderChange
        };
      }
    }).use(ElementPlus).mount('#app');
</script>
</body>

</html>
